In [6]:
import pandas as pd

In [8]:
import numpy as np

In [15]:
X.shape

(8, 33)

In [14]:
print(X)

  (0, 18)	0.408248290463863
  (0, 17)	0.408248290463863
  (0, 4)	0.408248290463863
  (0, 24)	0.408248290463863
  (0, 8)	0.408248290463863
  (0, 26)	0.408248290463863
  (1, 20)	0.46114911435169365
  (1, 3)	0.38647894810790673
  (1, 28)	0.46114911435169365
  (1, 16)	0.46114911435169365
  (1, 2)	0.46114911435169365
  (2, 12)	0.34377440552506444
  (2, 31)	0.5421620785047857
  (2, 1)	0.5421620785047857
  (2, 14)	0.5421620785047857
  (3, 12)	0.272812821493793
  (3, 22)	0.43024950073848917
  (3, 0)	0.43024950073848917
  (3, 29)	0.43024950073848917
  (3, 27)	0.43024950073848917
  (3, 10)	0.43024950073848917
  (4, 3)	0.399322563306691
  (4, 5)	0.399322563306691
  (4, 23)	0.47647419687686043
  (4, 32)	0.47647419687686043
  (4, 30)	0.47647419687686043
  (5, 5)	0.5098138992318764
  (5, 7)	0.6083131546128155
  (5, 21)	0.6083131546128155
  (6, 12)	0.34377440552506444
  (6, 13)	0.5421620785047857
  (6, 19)	0.5421620785047857
  (6, 11)	0.5421620785047857
  (7, 12)	0.30221534893969804
  (7, 15)	0.47661983877752523
  (7, 25)	0.47661983877752523
  (7, 9)	0.47661983877752523
  (7, 6)	0.47661983877752523

In [32]:
terms = vectorizer.get_feature_names()
terms

['100',
 'app',
 'belly',
 'best',
 'came',
 'cat',
 'chrome',
 'climbing',
 'eating',
 'extension',
 'face',
 'feedback',
 'google',
 'impressed',
 'incredible',
 'key',
 'kitten',
 'kitty',
 'little',
 'map',
 'merley',
 'ninja',
 'open',
 'photo',
 'play',
 'promoter',
 'restaurant',
 'smiley',
 'squooshy',
 'tab',
 'taken',
 'translate',
 've']

In [33]:
Y=pd.DataFrame(X.toarray())
Y.columns=terms

In [34]:
Y

,100,app,belly,best,came,cat,chrome,climbing,eating,extension,...,photo,play,promoter,restaurant,smiley,squooshy,tab,taken,translate,ve
0,0.00000,0.000000,0.000000,0.000000,0.408248,0.000000,0.00000,0.000000,0.408248,0.00000,...,0.000000,0.408248,0.00000,0.408248,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
1,0.00000,0.000000,0.461149,0.386479,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.461149,0.00000,0.000000,0.000000,0.000000
2,0.00000,0.542162,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.542162,0.000000
3,0.43025,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.43025,0.000000,0.43025,0.000000,0.000000,0.000000
4,0.00000,0.000000,0.000000,0.399323,0.000000,0.399323,0.00000,0.000000,0.000000,0.00000,...,0.476474,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.476474,0.000000,0.476474
5,0.00000,0.000000,0.000000,0.000000,0.000000,0.509814,0.00000,0.608313,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
6,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
7,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.47662,0.000000,0.000000,0.47662,...,0.000000,0.000000,0.47662,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000

In [28]:
X.fillna(0)

AttributeError: fillna not found

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

documents = ["This little kitty came to play when I was eating at a restaurant.",
             "Merley has the best squooshy kitten belly.",
             "Google Translate app is incredible.",
             "If you open 100 tab in google you get a smiley face.",
             "Best cat photo I've ever taken.",
             "Climbing ninja cat.",
             "Impressed with google map feedback.",
             "Key promoter extension for Google Chrome."]

vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(documents)

true_k = 3
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=3, n_init=1, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [23]:
model.cluster_centers_.argsort()[:, ::-1]

array([[ 5, 21,  7, 32, 23, 30,  3,  4,  2,  6, 14,  1,  8,  9, 10, 11,
        12, 13, 16, 15, 31, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 29,
         0],
       [12, 31,  1, 11, 13, 19, 14,  6,  9, 25, 15, 16,  2, 28, 20, 10,
         0, 22, 27, 29,  3, 17, 18, 21, 23, 24, 26,  8,  7,  5,  4, 30,
        32],
       [ 8, 17, 18,  4, 26, 24, 32, 11, 10,  9,  6,  7, 13,  5,  3,  2,
         1, 12, 16, 14, 15, 31, 19, 20, 21, 22, 23, 25, 27, 28, 29, 30,
         0]], dtype=int64)

In [25]:
print("Top terms per cluster:")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(true_k):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind]),
    print

Top terms per cluster:
Cluster 0:
 cat
 ninja
 climbing
 ve
 photo
 taken
 best
 came
 belly
 chrome
Cluster 1:
 google
 translate
 app
 feedback
 impressed
 map
 incredible
 chrome
 extension
 promoter
Cluster 2:
 eating
 kitty
 little
 came
 restaurant
 play
 ve
 feedback
 face
 extension

In [27]:
print("\n")
print("Prediction")

Y = vectorizer.transform(["chrome browser to open."])
prediction = model.predict(Y)
print(prediction)

Y = vectorizer.transform(["My kitty is hungry."])
prediction = model.predict(Y)
print(prediction)

Prediction
[1]
[2]

In [2]:
Y = vectorizer.transform(["chrome browser to open."])
prediction = model.predict(Y)
print(prediction)

[0]